*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background: url('../images/login_bg.jpg') no-repeat;
  background-size: cover;
}
.logo{
  padding-left:100px;
}
form{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 310px;
  background-color: #fff;
}